.css-t9nop0 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.css-0 {
    box-sizing: border-box;
}

.css-1p6ero0 {
    margin: 0px 0px 0.5rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-kgtmqg {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-80kmv8.teko-row-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-80kmv8.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-80kmv8 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1014eaz {
    border-radius: 4px;
    display: inline-block;
    user-select: none;
    border: 1px solid rgb(20, 53, 195);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1fh7f3v {
    opacity: 1;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: unset;
    background-color: rgb(20, 53, 195);
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1014eaz {
    border-radius: 4px;
    display: inline-block;
    user-select: none;
    border: 1px solid rgb(20, 53, 195);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-ngriz3 {
    margin: 0.25rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-18wywdr {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 36px 36px 0px;
    border-color: transparent rgb(20, 53, 195) transparent transparent;
}

.css-mpv07g {
    display: flex;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 0;
}

.css-1kpmq path[stroke],
.css-1kpmq rect[stroke],
.css-1kpmq line {
    stroke: rgb(255, 255, 255);
}

.css-7496ip {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: unset;
    font-size: 10px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-ngriz3 {
    margin: 0.25rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-64rk53 {
    border-radius: 4px;
    display: inline-block;
    user-select: none;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-gr7r8o.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-gr7r8o.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-gr7r8o {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-64rk53 {
    border-radius: 4px;
    display: inline-block;
    user-select: none;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.css-qat15y {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}