    .css-t9nop0 {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        padding: 1rem;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }
    
    .css-0 {
        box-sizing: border-box;
    }
    
    .css-1p6ero0 {
        margin: 0px 0px 0.5rem;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 20px;
        line-height: 28px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-kgtmqg {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(130, 134, 158);
        font-weight: 400;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-80kmv8.teko-row-start {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    
    .css-80kmv8.teko-row {
        display: flex;
        flex-flow: wrap;
    }
    
    .css-80kmv8 {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-1014eaz {
        border-radius: 4px;
        display: inline-block;
        user-select: none;
        border: 1px solid rgb(20, 53, 195);
        background-color: rgb(255, 255, 255);
        padding: 0.5rem 1.25rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-1fh7f3v {
        opacity: 1;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        height: 1rem;
        border-radius: 0.25rem;
        border: unset;
        background-color: rgb(20, 53, 195);
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-1014eaz {
        border-radius: 4px;
        display: inline-block;
        user-select: none;
        border: 1px solid rgb(20, 53, 195);
        background-color: rgb(255, 255, 255);
        padding: 0.5rem 1.25rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-ngriz3 {
        margin: 0.25rem 0px 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(130, 134, 158);
        font-weight: 500;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-18wywdr {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 36px 36px 0px;
        border-color: transparent rgb(20, 53, 195) transparent transparent;
    }
    
    .css-mpv07g {
        display: flex;
        position: absolute;
        top: -1px;
        right: -1px;
        z-index: 0;
    }
    
    .css-1kpmq path[stroke],
    .css-1kpmq rect[stroke],
    .css-1kpmq line {
        stroke: rgb(255, 255, 255);
    }
    
    .css-7496ip {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-decoration: unset;
        font-size: 10px;
        line-height: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-ngriz3 {
        margin: 0.25rem 0px 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(130, 134, 158);
        font-weight: 500;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-64rk53 {
        border-radius: 4px;
        display: inline-block;
        user-select: none;
        border: 1px solid rgb(224, 224, 224);
        background-color: rgb(255, 255, 255);
        padding: 0.5rem 1.25rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-gr7r8o.teko-col-6 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-64rk53 {
        border-radius: 4px;
        display: inline-block;
        user-select: none;
        border: 1px solid rgb(224, 224, 224);
        background-color: rgb(255, 255, 255);
        padding: 0.5rem 1.25rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
    
    .css-qat15y {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: inherit;
        font-weight: 700;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-ngriz3 {
        margin: 0.25rem 0px 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(130, 134, 158);
        font-weight: 500;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-127zbo8 {
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
        padding: 1rem;
        margin-top: 0px;
    }
    
    .css-1knbux5 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    
    .h6 {
        font-size: 1rem;
    }
    
    .css-x3sjt9 {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        display: inline;
        cursor: pointer;
        text-decoration: none;
        color: rgb(25, 144, 255) !important;
    }
    
    .svg {
        vertical-align: middle;
    }
    
    .css-x3sjt9 path:not([stroke]),
    .css-x3sjt9 rect:not([stroke]) {
        fill: rgb(25, 144, 255);
    }
    
    .css-twos5s {
        font-size: 15px;
        line-height: 24px;
        margin-right: 12px;
        color: rgb(130, 134, 158);
    }
    
    .css-gr7r8o.teko-col-4 {
        display: block;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    
    .css-gr7r8o.teko-col {
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
    
    .css-gr7r8o {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
    }
    
    .css-14xqo9c {
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
        margin-bottom: 16px;
        padding: 16px;
    }
    
    .css-1euuut5 {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    
    .css-1euuut5 h5 {
        margin: 0px;
    }
    
    .h5 {
        font-size: 1.25rem;
    }
    
    .css-1euuut5 .a {
        text-decoration: none;
    }
    
    .a {
        color: #0d6efd;
        -webkit-text-decoration: underline;
        text-decoration: underline;
    }
    
    .css-9op68y {
        margin-bottom: 1rem;
    }
    
    .css-ov1ktg {
        display: flex;
    }
    
    .css-17nqxzh {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        flex: 1 0 auto;
        display: flex;
        cursor: unset;
        z-index: 0;
        margin: auto;
        border-radius: 4px;
        border: 1px solid rgb(224, 224, 224);
        width: 80px;
        content-visibility: auto;
        height: 80px !important;
    }
    
    .css-17nqxzh {
        cursor: unset;
    }
    
    .css-jdz5ak {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease 0s;
    }
    
    .img {
        vertical-align: middle;
    }
    
    .css-f0vs3e {
        flex: 1 1 0%;
        margin-left: 1rem;
    }
    
    .css-587jha {
        color: unset;
        text-decoration: unset;
    }
    
    .css-l4bwcr {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(67, 70, 87);
        font-weight: 400;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-1qm2d75 {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        color: rgb(130, 134, 158);
        font-weight: 400;
        text-decoration: unset;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
    
    .css-7ofbab {
        width: max-content;
        display: inline-block;
        font-weight: bold;
    }
    
    .css-ov1ktg {
        display: flex;
    }
    
    .css-cssveg {
        position: relative;
    }
    
    .css-27abj6 {
        position: relative;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    
    .css-516rdm {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }
    
    .css-nouyrl {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .css-qc9cbn {
        width: 100%;
    }
    
    .table {
        caption-side: bottom;
        border-collapse: collapse;
    }
    
    .tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    
    .tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    
    .css-qc9cbn td {
        line-height: 1;
    }
    
    .css-8ogxmh {
        color: rgb(132, 135, 136);
        padding: 0px;
        text-align: left;
        vertical-align: top;
    }
    
    .css-99sejg {
        display: flex;
        row-gap: 0.5rem;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .css-1777v {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 3px;
    }
    
    .css-qc9cbn td {
        line-height: 1;
    }
    
    .css-1xrkmkn {
        font-weight: 700;
        font-size: 14px;
        padding: 0px;
        text-align: right;
        vertical-align: top;
    }
    
    .tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    
    .table {
        caption-side: bottom;
        border-collapse: collapse;
    }
    
    .table {
        border-collapse: separate;
        text-indent: initial;
        border-spacing: 2px;
    }
    
    .css-qc9cbn td {
        line-height: 1;
    }
    
    .css-13izjcd {
        color: rgb(132, 135, 136);
        padding: 0.85rem 0px 0px;
        text-align: left;
        vertical-align: top;
    }
    
    .css-qc9cbn td {
        line-height: 1;
    }
    
    .css-fsu5pb {
        font-weight: 700;
        font-size: 14px;
        padding: 0.85rem 0px 0px;
        text-align: right;
        vertical-align: top;
    }
    
    .css-qc9cbn td {
        line-height: 1;
    }
    
    .css-aafp0n {
        color: rgb(235, 33, 1);
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
        text-align: right;
        vertical-align: bottom;
        padding: 0px;
    }
    
    .css-b2d3vz {
        font-size: 14px;
        color: rgb(132, 135, 136);
        margin-top: 4px;
        text-align: center;
    }
    
    .css-v463h2 {
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        line-height: 1rem;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(20, 53, 195);
        border-color: rgb(20, 53, 195);
        color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        user-select: none;
        text-decoration: none;
        flex-direction: row;
        position: relative;
        width: 100%;
        padding: 0.7rem 1rem;
        margin-top: 1rem;
    }
    
    .button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: button;
    }
    
    .button,
    .select {
        text-transform: none;
    }
    
    .button,
    .input {
        overflow: visible;
    }
    
    .input,
    .button,
    .select,
    .optgroup,
    .textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    
    .button {
        border-radius: 0;
    }
    
    .css-1lqe6yk {
        display: block;
        font-style: normal;
        font-size: 15px;
    }
    
    .css-12xhfzh {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        margin-top: 1.5rem;
    }
    
    .p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .a {
        color: #0d6efd;
        -webkit-text-decoration: underline;
        text-decoration: underline;
    }
    
    .css-1jkskpw.teko-row {
        display: flex;
        flex-flow: wrap;
    }
    
    .css-1jkskpw {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: white;
    }
    
    .css-w7dw8v {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        flex: 1 1 auto;
        margin: 0px 0.75rem 0px 0px !important;
    }
    
    .css-icxbs1 {
        border-style: solid;
        border-radius: 0.25rem;
        border-width: 1px;
        opacity: 1;
        height: 40px;
        padding: 0rem 0.75rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        border-color: rgb(224, 224, 224);
    }